* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  perspective: 1000px;
  background-color: rgba(0, 0, 0, 0.9);
  background-image: url('../public/ocean&rock.jpg');
}
.container {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
  background-color: rgba(68, 69, 68, 0.5);
  transform-style: preserve-3d;
  height: 80vh;
  width: 35rem;
  border-radius: 30px;
  padding: 0rem 5rem;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2), 0px 0px 50px rgba(0, 0, 0, 0.2);
}

.sneaker {
  height: 37vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sneaker img {
  width: 21rem;
  z-index: 2;
  transition: all 0.75s ease-out;
}
.circle {
  margin-top: 2rem;
  width: 15rem;
  height: 15rem;
  background: linear-gradient(
    to right,
    rgba(59,74,80,0.75),
    rgba(34,33,38, 0.75)
  );
  position: absolute;
  border-radius: 50%;
  z-index: 1;
}

.info h1 {
  font-size: 3rem;
  transition: all 0.75s ease-out;
  margin-top: 0rem;
}
.info h3 {
  font-size: 1.3rem;
  padding-bottom: 1rem;
  color: #585858;
  font-weight: lighter;
  transition: all 0.75s ease-out;
}
.sizes {
  display: flex;
  justify-content: space-between;
  transition: all 0.75s ease-out;
}
.sizes button {
  padding: 0.5rem 2rem;
  background: none;
  border: none;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  border-radius: 30px;
  cursor: pointer;
  font-weight: bold;
  color:rgba(0, 0, 0, 1);
  background-color: white;
}
button.active {
  background: black;
  color: white;
}
.purchase {
  margin-top: 4rem;
  margin-bottom: 2rem;
  transition: all 0.75s ease-out;
}
.purchase button {
  width: 100%;
  padding: 1rem 0rem;
  background: rgba(59,74,80,1);
  border: none;
  color:white;
  cursor: pointer;
  border-radius: 30px;
  font-weight: bolder;
}
